:root {
  --color1: #0d28a6;
  --color2: #ffffff;
  --color3: #e5e5e5;
  --color4: #cfd4ed;
  --color5: #b1b1b4;
  --color6: #8a8a8a;
  --color7: #151515;
  --btn-color-1: #5cb85f;
  --btn-color-2: #fa2c5a;
}

/* Global Start */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
}

.wrapper {
  display: flex;
  align-items: stretch;
}
/* Global End */

/* notification start */
.notif__delete {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 36px;
  width: 550px;
  height: 48px;
  background-color: #000000;
}

.notif__save {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 36px;
  width: 550px;
  height: 48px;
  background-color: #73ca5c;
}
.notif__error {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 36px;
  width: 550px;
  height: 48px;
  background-color: #fa2c5a;
}
/* notification end */

/* sidebar start */

.sidebar__menu {
  background-color: var(--color1);
  min-height: 100vh;
}

.sidebar__menu--icon {
  padding: 14px;
}

.sidebar__menu--icon:hover {
  background-color: var(--color5);
}

.sidebar__menu--icon p {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--color2);
  margin: 0;
}

.sidebar__side__menu {
  width: 220px;
}

.sidebar__side__menu__icon {
  height: 62px;
  background-color: var(--color2);
  padding-left: 24px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.sidebar__side__menu__title {
  margin-top: 2px;
  background-color: var(--color2);
}

.sidebar__side__menu__title h5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: var(--color6);
  padding: 35px 0px 11px 24px;
}
.sidebar__side__menu__title p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  padding: 11px 48px 11px 24px;
  color: var(--color7);
  background-color: var(--color4);
}
/* sidebar end */

/* main start */
.main {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: var(--color3);
}
/* main end */

/* navbar start */
.main__nav {
  padding: 0 27px;
  height: 62px;
  background-color: var(--color2);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.form__box {
  position: relative;
}

/* .form-box input:focus ~ .form__box__label,
.form-box input:valid ~ .form__box__label {
  display: none;
} */

.form__box__label {
  padding-left: 6px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
}

.form__box input[type="text"] {
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-size: 14px;
  padding: 6px 8px 6px 30px;
}

.form__btn button {
  padding: 5px 8px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #0d28a6;
  background-color: #ffffff;
  color: #0d28a6;
}

.form__btn button:hover {
  background-color: #cfd4ed;
}

.main__nav__right {
  gap: 24px;
}

/* navbar end  */

/* main content start */
.main__content {
  position: relative;
  padding-top: 34px;
  padding-left: 24px;
}

/* bread crumb start */
.main__content__crumb {
  gap: 6px;
}
.main__content__crumb--before {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 18px;
  color: #000000;
}
.main__content__crumb--now {
  font-family: "Rubik";
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 18px;
  color: #222222;
}
/* bread crumb end */

/* title & create car btn start */
.main__content__title {
  padding: 27px 27px 24px 0px;
}

.main__content__title h5 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 30px;
  color: #000000;
}

.main__content__title--btn a {
  cursor: pointer;
  text-decoration: none;
  background: #0d28a6;
  border-radius: 2px;
  color: white;
  padding: 8px 12px;
  gap: 10px;
}
/* title & create car btn end */

/* filter start */
.btn__category__non {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 8px 12px;
  color: #aeb7e1;
  border: 1px solid #aeb7e1;
  background-color: #ffff;
  border-radius: 2px;
}

.btn__category__non:hover {
  color: #0d28a6;
  background: #cfd4ed;
  border: 1px solid #0d28a6;
}

/* if category is selected */
.btn__category__active {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 8px 12px;
  color: #0d28a6;
  background: #cfd4ed;
  border: 1px solid #0d28a6;
}
.btn__category__active:hover {
  color: #cfd4ed;
  background: #0d28a6;
}
/*  filter end */

/* list cars start */

.card__image {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
.card-body > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.card__updated {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.car__updated__box {
  padding-top: 0px;
  padding-bottom: 24px;
}

.card__price {
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.block {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.delete,
.delete:hover {
  color: #fa2c5a;
  border: 1px solid #fa2c5a;
}

.edit,
.edit:hover {
  color: white;
  background-color: #5cb85f;
}
/* list cars end */

/* modal start */
.modal-content {
  width: 387px;
  height: 333px;
  margin: auto;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-body h5 {
  padding-top: 24px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.modal-body p {
  padding-bottom: 16px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.modal__btn .btn-primary {
  background-color: #0d28a6;
  border: 1px solid #0d28a6;
  padding: 8px 35px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
}
.modal__btn .btn-outline-primary {
  color: #0d28a6;
  padding: 8px 25px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
}
/* modal end */

/* main content end */

/* create car start */
select,
select option {
  text-transform: capitalize;
}
.main__content__form {
  background-color: #ffff;
  margin-right: 24px;
  padding: 16px 0px;
}

.form-group label {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 18px;
  color: #3c3c3c;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 15px;
}

.form-group input {
  font-family: "Rubik";
  font-size: 14px;
  padding-left: 8px;
  height: 36px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}

.form__active {
  color: red;
}

.form-group select {
  font-family: "Rubik";
  padding-left: 8px;
  color: #8a8a8a;
  height: 36px;
  font-size: 14px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.form-group__input {
  position: relative;
}

.chevron {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 10px;
  transform: translateY(-30%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input__form__up {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 10px;
  transform: translateY(-70%);
}

.form-group input[type="file"] {
  font-family: "Rubik";
  color: #8a8a8a;
  height: 36px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 50px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.form-group__input__warn {
  padding-top: 6px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 14px;
  color: #8a8a8a;
}

.form-controls::-webkit-file-upload-button {
  display: none;
}

/* .customFileInput/ */

/* create car end */

.form_group__btn {
  display: flex;
  gap: 17px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
.btn__create__cancel {
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 8px 12px;
  color: #0d28a6;
  background: #ffff;
  border: 1px solid #0d28a6;
}

.btn__create__cancel:hover {
  color: #0d28a6;
}
.btn__create__save {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 8px 12px;
  color: #ffff;
  background: #b7bbcc;
  border: 1px solid #b7bbcc;
}

.btn__create__save:hover {
  color: white;
  background: #0d28a6;
  border: 1px solid #0d28a6;
}
